/*style sheets for choice.html page*/


/*back ground image*/
body {
  background-color : rgb(0,0,0);
  background-image: url("../images/background2.png");
  background-size : auto-cover;
  /*for zoom - cover - for general auto-cover = positioning*/
  background-repeat : no-repeat;
  overflow-y : scroll;
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
}

/*All contains everything within the area of the form. All sliders and words*/
#All  {
  color : rgb(255,255,255);
  text-align : center;
  position : relative;
  top : 25%;
}


/*progress is for the planet count image*/
#progress  {
  position : relative;
  top : 50px;
  left : 5%;
}

/*title: main solar builder title on page*/
#title  {
  text-shadow: 2px 2px 8px rgb(0,0,0);
  color : rgb(255,255,255);
  position : absolute;
  left : 40px;
  cursor : pointer;
}

/*p covers all words on the page other than titles*/
p  {
  font-size : 0.8em;
}

.slideName  {
  font-size : 1em;
}

/*sliders*/
#planetSizeSlide .noUi-base {
  background: rgb(255,255,255);
}

#orbitDisSlide .noUi-base {
  background: rgb(255,255,255);
}

#speedSlide .noUi-base {
  background: rgb(255,255,255);
}

.slider  {
  position: absolute;
  width: 18px;
  height: 50%;
  right: 30%;
}

#orbitDisSlide{
  top: 155px;
}

#planetSizeSlide{
  top: 305px;
}

#speedSlide{
  top: 230px;
}

/*titles of each slider and value words*/
#orbitDistance  {
  padding-left  : 2px;
  padding-right : 7px;
  position : absolute;
  top : 135px;
  right : 65%;
}

#close  {
  position  : absolute;
  top : 165px;
  right : 58%;
}

#far  {
  position  : absolute;
  top : 165px;
  right : 30%;
}

#colour  {
  position : absolute;
  padding-left  : 10px;
  padding-right : 50px;
  top : 350px;
  right : 65%;
}


#speedOrbit  {
  border-width: 50%;
  position : absolute;
  padding-left  : 2px;
  padding-right : 14px;
  top : 210px;
  right : 65%;
}


#slow  {
  position  : absolute;
  top : 240px;
  right : 58%;
}

#fast {
  position  : absolute;
  top : 240px;
  right : 30%;
}

#planetSize  {
  position : absolute;
  padding-right : 26px;
  padding-left  : 2px;
  top : 285px;
  right : 65%;
}

#small  {
  position  : absolute;
  top : 315px;
  right : 58%;
}

#large {
  position  : absolute;
  top : 315px;
  right : 30%;
}

#colorSelect {
  position : relative;
  top : 375px;
}

/*drop down menu for colour select*/
select  {
  width  : 20%;
  position : relative;
  top : -75px;
  left : 5%;
  background-color : rgb(255,255,255);
  cursor : pointer;
  border : none;
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
}

/*Form button on page*/
#Go {
  width : 30%;
  background-color: rgb(255,255,255);
  border: none;
  color: rgb(0,0,0);
  padding: 8px 14px;
  text-decoration: none;
  margin: 5px 2px;
  cursor: pointer;
  position : absolute;
  top : 450px;
  left  : 40%;
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
}

/*help buttons*/

.help  {
  color : rgb(255,255,255);
  background-color : transparent;
  position : absolute;
  left : 72%;
  display : block;
  height : 20px;
  width : 20px;
  border-radius: 50%;
  border  :1px solid rgb(255,255,255);
  cursor: pointer;
}

#orbitHelp  {
  top : 162px;
}

#colourHelp  {
  top : 382px;
}


#sizeHelp  {
  top : 312px;
}

#speedHelp  {
  top : 237px;
}

/*modal content for each help button*/
#ColorHelpMod {
  top : 375px;
}

#SizeHelpMod  {
  top : 300px;
}

#SpeedHelpMod  {
  top : 225px;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 5%;
  top: 150px;
  width: 15%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

.modal-content {
  background-color: rgb(255,255,255);
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(169,169,169);
  width: 80%;
}

/*modal closures */
#X0, #X1, #X2, #X3{
  color: rgb(211,211,211);
  float: right;
  font-size : 14px;
}

#X0:hover,
#X0:focus {
  color: rgb(0,0,0);
  text-decoration: none;
  cursor: pointer;
}

#X1:hover,
#X1:focus {
  color: rgb(0,0,0);
  text-decoration: none;
  cursor: pointer;
}

#X2:hover,
#X2:focus {
  color: rgb(0,0,0);
  text-decoration: none;
  cursor: pointer;
}

#X3:hover,
#X3:focus {
  color: rgb(0,0,0);
  text-decoration: none;
  cursor: pointer;
}

