/*for phone sized screens : choice.html*/

#All  {
    top : 150px;
}

#title  {
    position : relative;
    left : -3px;
}

#progress  {
    top:-7px;
    left : 0%;
    
}

.noHead  {
    position : relative;
    top : -158px;
    left  : 20px;
}

#Go  {
  position : absolute;
  top : 450px;
  left : 37%;
}

select {
    top : 0px;
    left : 2%;
    right : 0%;
}

/* Modal Content */
.modal {
  width: 50%;
  top : 150px;
  left : 25%;
}

.modal-content {
  padding: 10px;
}

.help  {
    left : 80%;
}

#ColorHelpMod, #SizeHelpMod, #SpeedHelpMod {
  top : 150px;
}

