/*for desktop*/


body {
  background-color : black;
  background-image: url("../images/background1.png");
  background-size : auto-cover;
  background-repeat : no-repeat;
  overflow-y : scroll;
}

/*potential for adapting background images*/
@media screen and (min-width: 2000px)  {
  body  {
    background-size : cover;
 }
}



h1  {
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
  font-size: 5em;
  position : absolute;
  left : 0;
  top : 0%;
  width: 100%;
  text-align : center;
  color: white;
  text-shadow: 2px 2px 8px #000000;
}

form  {
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
  position : absolute;
  top : 400px;
  text-align : center;
  left: 45%;
  right : 35%;
}

button {
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
  background-color: white;
  width : 200px;
  border: none;
  color: black;
  padding: 8px 14px;
  text-decoration: none;
  margin: 5px 2px;
  cursor: pointer;
  display : none;
}

#choosePlanet  {
  position : relative;
  top : 30px;
  padding: 8px 25px;

}

#solarsystem  {
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
  color: white;
  font-size: 1em;
  position : absolute;
  left : 25%;
  top : 150px;
  width : 30%;
}

#solarbuilder  {
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif;
  color: white;
  font-size: 1em;
  position : absolute;
  left : 55%;
  top : 150px;
  width : 30%;
}

h3  {
  font-size: 1.5em;
  position : absolute;
  top: 5%;
  left : 0%;
}

#solnounanddef  {
  position:  absolute;
  top : 45px;
}

#Buildnounanddef  {
  position:  absolute;
  top : 45px;
}

#solarDef  {
  font-size : 0.8em;
  position : relative;
  top: 70px;
  left: 10%;
  width : 75%;
}

#BuildDef  {
  font-size : 0.8em;
  position : relative;
  top:70px;
  left: 10%;
  width : 75%;

}
