canvas  {
  position : absolute;
  top : 0px;
  left : 0px;
}

#title  {
  font-family: Balboa Plus, 'Oswald', Helvetica, sans-serif !important;
  text-shadow: 2px 2px 8px #000000;
  color : white;
  position : absolute;
  left : 40px;
  z-index : 1;

}
